@font-face {
  font-family: 'FiraSans';
  src: url(../fonts/FiraSans.ttf);
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'FiraSans';
}
li {
  float: left;
  list-style: none;
}
.logotype {
  background: #f3f7f6;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0;
}
.navigation {
  background-color: #1c4489;
  margin-right: 0;
  margin-left: 0;
}
.navigation .main-menu {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.navigation .main-menu li {
  line-height: 30px;
  padding: 15px;
  font-size: 16px;
  list-style: none;
  transition: all 0.3s;
}
.navigation .main-menu li a {
  color: #fff;
  text-decoration: none;
}
.navigation .main-menu .dropmenu {
  position: relative;
}
.navigation .main-menu .dropmenu .dropdown-menu {
  background-color: #133166;
  color: #fff;
  min-width: 600px;
  border-radius: 0;
  border: none;
  padding: 20px;
  margin: 0;
  top: 59px;
}
.navigation .main-menu .dropmenu .dropdown-menu li {
  float: none;
  display: block;
  padding: 5px;
  font-size: 16px;
}
.navigation .main-menu .dropmenu .dropdown-menu li:hover a {
  color: #1c4489;
}
.navigation .main-menu .dropmenu .dropdown-menu .title {
  font-weight: bold;
}
.navigation .main-menu .dropmenu .dropdown-menu .button {
  background: none;
  border: 2px solid #fff;
  padding: 5px 15px;
  transition: all 0.5s;
}
.navigation .main-menu .dropmenu .dropdown-menu .button:hover {
  background: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}
.navigation .main-menu .dropmenu:hover .dropdown {
  display: block;
}
.navigation .mobile-menu-button {
  display: none;
}
.about {
  min-height: 60vh;
  background: url(../images/background-city.jpg);
  background-size: cover;
  background-position: center;
  padding: 25px;
}
.about .title-about {
  color: #f3f7f6;
  font-size: 40px;
  font-weight: bold;
}
.about p {
  color: #f3f7f6;
  font-size: 22px;
}
.about .custom-btn {
  width: 100px;
  background: none;
  color: #f3f7f6;
  border: 2px solid #f3f7f6;
  padding: 12px 14px;
  font-size: 16px;
  transition: all 0.5s;
}
.about .custom-btn:hover {
  background: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}
.counter {
  background-color: #1c4489;
}
.counter .item {
  text-align: center;
  padding: 50px;
  margin: 0;
}
.counter .item .number,
.counter .item .discription {
  color: #fff;
  font-weight: bold;
}
.counter .item .number {
  font-size: 50px;
}
.counter .item .discription {
  font-size: 20px;
}
.benefits {
  background: #f3f7f6;
  padding: 50px;
}
.benefits h2 {
  margin: 0;
  color: #1c4489;
  font-weight: bold;
}
.benefits .services {
  margin-top: 50px;
}
.benefits .icon {
  margin-bottom: 20px;
}
.benefits .icon .fa {
  color: #1c4489;
  font-size: 35px;
}
.benefits .title {
  color: #1c4489;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}
.benefits .discription {
  width: 50%;
  margin: auto;
}
.testimonials {
  min-height: 50vh;
  background: url(../images/background-sea.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px;
}
.testimonials h2 {
  margin: 0;
  color: #fff;
  font-weight: bold;
}
.testimonials .carousel-inner {
  width: 80%;
  margin: auto;
}
.testimonials .carousel-inner .item {
  min-height: 250px;
}
.testimonials .carousel-inner .item p {
  font-size: 16px;
}
.testimonials .carousel-control {
  position: relative;
  top: 30px;
  opacity: 1;
  z-index: 2;
}
.testimonials .right,
.testimonials .left {
  background: none;
  background-image: none;
}
.call-back {
  background: #115fd4;
  padding: 50px;
}
.call-back h2 {
  margin: 0;
  color: #fff;
  font-weight: bold;
}
.call-back .forms {
  margin-top: 50px;
}
.call-back .forms .item {
  padding: 0;
  margin-bottom: 10px;
}
.call-back .forms .name,
.call-back .forms .email,
.call-back .forms .phone {
  margin: 15px 0;
}
.call-back .forms label {
  padding: 5px 10px;
  color: #fff;
}
.call-back .forms input {
  max-width: 250px;
  border: none;
  padding: 3px;
}
.call-back .forms input:focus {
  box-shadow: 0px 0px 4px #fff;
}
.call-back .forms .submit-button {
  padding: 20px 25px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background: #fff;
  color: #115fd4;
}
.map {
  height: 55vh;
}
.map iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.map iframe .place-card {
  display: none;
}
.footer {
  padding: 50px;
  background: #000;
}
.footer p {
  color: #fff;
}
/* Media */
@media (max-width: 768px) {
  .logotype img {
    width: 100%;
  }
  .navigation {
    padding: 10px;
    text-align: right;
  }
  .navigation .main-menu {
    display: none;
  }
  .navigation .main-menu li {
    float: none;
    padding: 3px;
  }
  .navigation .main-menu li:nth-last-child(n+2) {
    border-bottom: 1px solid #fff;
  }
  .navigation .mobile-menu-button {
    display: block;
    width: 40px;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
  }
  .about {
    padding: 10px;
  }
  .counter .item:nth-last-child(n+2) {
    border-bottom: 1px solid #fff;
  }
  .benefits .item {
    margin-bottom: 20px;
  }
  .benefits .discription {
    width: 100%;
  }
  .testimonials .carousel-inner {
    width: 100%;
  }
  .testimonials .carousel-inner .item p {
    font-size: 11px;
  }
  .call-back label {
    min-width: 33%;
  }
  .call-back .button {
    text-align: right;
  }
  .footer {
    padding: 10px;
  }
  .footer .info {
    display: none;
  }
}
