@default_background_color: #1c4489;
@default_text_color: #fff;
@font-face {
	font-family: 'FiraSans';
	src: url(../fonts/FiraSans.ttf);
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'FiraSans';
}
li {
    	float: left;
    	list-style: none;
    }
.logotype {
	background: #f3f7f6;
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0;
	.mobile-menu-button {
		display: none;
	}
}
.navigation {
	background-color: @default_background_color;
	margin-right: 0;
	margin-left: 0;
	.main-menu {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		li {
			height: 60px;
			line-height: 30px;
			padding: 15px;
			font-size: 16px;
			list-style: none; 
			&:hover {
				border-bottom: 5px solid #115fd4;
			}
			a {
				color: #fff;
				text-decoration: none;
			}
		}
		.dropmenu {
			position: relative;
			.dropdown-menu {
				background-color: #133166;
			    color: #fff;
			    min-width: 650px;
			    border-radius: 0;
			    border: none;
			    padding: 20px;
			    margin: 0;
			    top: 59px;
			    .drop-list {
					width: 32%;
				    margin-left: 5px;
				    display: inline-block;
				    vertical-align: top;
			    	li {
				    	height: 30px;
				    	float: none;
				    	display: block;
				    	padding: 5px;
				    	font-size: 13px;
				    	line-height: 15px;
				    	&:hover {
				    		a {	
				    			color: @default_background_color;
				    		}
				    	}
				    }
				}
			    .title {
			    	font-weight: bold;
			    }
			    .button {
			    	background: none;
				    border: 2px solid #fff;
				    padding: 5px 30px;
				    -webkit-transition: all 0.5s;
				    -moz-transition: all 0.5s;
				    -o-transition: all 0.5s;
				    transition: all 0.5s;
				    &:hover {
				    	background: rgba(255,255,255, 0.2);
	    				font-weight: bold;
				    }
			    }
			}
		}
		.dropmenu:hover .dropdown {
				display: block;
			}
	}
}
.about {
	min-height: 60vh;
	background: url(../images/background-city.jpg);
	background-size: cover;
	background-position: center;
	padding: 25px;
	.title-about {
		color: #f3f7f6;
		font-size: 40px;
    	font-weight: bold;
	}
	p {
    	color: #f3f7f6;
    	font-size: 22px;
    }
    .custom-btn {
    	width: 100px;
	    background: none;
	    color: #f3f7f6;
	    border: 2px solid #f3f7f6;
	    padding: 12px 14px;
	    font-size: 16px;
	    -webkit-transition: all 0.5s;
	    -moz-transition: all 0.5s;
	    -o-transition: all 0.5s;
	    transition: all 0.5s;
	    &:hover {
	    	background: rgba(255,255,255, 0.2);
	    	font-weight: bold;
	    }
    }
}
.counter {
	background-color: @default_background_color;
	.item {
		text-align: center;
		padding: 50px;
		margin: 0;
		.number, .discription {
			color: @default_text_color;
			font-weight: bold;
		}
		.number {
			font-size: 50px;
		}
		.discription {
			font-size: 20px;
		}
	}
}
.benefits {
	background: #f3f7f6;
	padding: 50px;
	h2 {
		margin: 0;
		color: @default_background_color;
		font-weight: bold;
	}
	.services {
		margin-top: 50px;
	}
	.icon {
		margin-bottom: 20px;
		.fa {
		color: @default_background_color;
		font-size: 35px;
		}
	}
	.title {
		color: @default_background_color;
		font-weight: bold;
		font-size: 16px;
		line-height: 30px;
	}
	.discription {
		width: 50%;
   		margin: auto;
	}
}
.testimonials {
	min-height: 50vh;
	background: url(../images/background-sea.jpg);
	background-size: cover;
	background-position: center;
	padding: 50px;
	h2 {
		margin: 0;
		color: @default_text_color;
		font-weight: bold;
	}
	.carousel-inner {
		width: 80%;
		margin: auto;
		.item {
			min-height: 250px;
			p {
				font-size: 16px;
			}
		}
	}
	.carousel-control {
		position: relative;
		top: 30px;
		opacity: 1;
		z-index: 2;
	}
	.right, .left {
		background: none;
		background-image: none;
	}
}
.call-back {
	background: #115fd4;
	padding: 50px;
	h2 {
		margin: 0;
		color: @default_text_color;
		font-weight: bold;
	}
	.forms {
		margin-top: 50px;
		.item {
			display: inline-block;
    		vertical-align: middle;
    		margin-right: 10px;
    		margin-bottom: 10px;
    	}
		label {
			padding: 10px;
			color: @default_text_color;
		}	
		input {
			border: none;
			padding: 5px;
			background: @default_text_color;
		}
		.submit-button {
			padding: 20px 25px;
			font-size: 16px;
			font-weight: bold;
			border: none;
			background: @default_text_color;
			color: #115fd4;
		}
	}
}
.map {
	height: 55vh;
	iframe {
		width: 100%;
		height: 100%;
		border: none;
		.place-card {
			display: none;
		}
	}
}
.footer {
	padding: 50px;
	background: #000;
	p {
		color: @default_text_color;
	}
}

/* Media */
@media (max-width: 768px) {
	.logotype {
		padding-top: 10px;
		padding-bottom: 10px;
		.mobile-header {
			text-align: left;	
			img {
				width: 80%;
			}
			.mobile-menu-button {
				display: block;
				width: 40px;
				font-size: 	25px;
				padding-top: 2px;a
				text-align: center;	
				float: 	left;	
				border-radius: 5px;
				color: @default_background_color;
			}
		}
	}
	.navigation {
		display: none;
		position: absolute;
	    z-index: 2;
	    left: 0;
	    padding: 10px;	
		.main-menu {
			li {
				height: 40px;
				float: none;
				padding: 5px;
			}
			.dropmenu .dropdown-menu {
				min-width: 210px;
				.drop-list {
					width: 100%;
					margin-bottom: 15px;
					display: block;	
				}
				.button {
					padding: 5px 15px;
				}
			}
		}
	}
	.about {
		padding: 10px;
		.row {
			margin: 0;
		}
	}
	.benefits {
		.item {
			margin-bottom: 20px;
		}
		.discription {
			width: 100%;
		}
	}
	.testimonials {
		.carousel-inner {
			width: 100%;
			.item {
				p {
				font-size: 11px;
				}
			}
		}
	}
	.call-back {
		.forms {
			.item {
				margin-right: 0;
				margin-bottom: 10px;
				width: 100%;
				label {
				margin-bottom: 0;
				}
				input {
					width: 100%;
				}
			}
		}
	}
	.footer {
		padding: 10px;
		.info {
			display: none;
		}
	}
}
@media (max-width: 992px) {
	.navigation {	
		.main-menu {
			li {
				font-size: 12px;
			}
		}
	}
	.benefits {
		.title {
			min-height: 60px;
    		display: block;
		}
		.discription {
			width: 100%;
		    display: inline-block;
		    vertical-align: middle;
		    min-height: 100px;
		}
	}
	.call-back {
		padding: 20px;
		.forms {
			.item {
				margin-bottom: 10px;
				width: 100%;
				label {
				margin-bottom: 0;
				}
				input {
					width: 100%;
				}
			}
		}
	}
}